<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="revolware.pillsplan"
    android:versionCode="5"
    android:versionName="1.5">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.AlarmActivity.AlarmActivity" />

        <receiver
            android:name=".services.alarm.Alarm_Receiver"
            android:process=":remote" />

        <service
            android:name=".services.alarm.RingtonePlayingService"
            android:enabled="true" />

        <activity android:name=".Pills_info" />
        <activity
            android:name=".activities.Display.Display"
            android:label="Add alarm" />
        <activity
            android:name=".activities.Tutorial.Tutorial"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.Popup.Popup"
            android:theme="@style/AppTheme.CustomTheme" />
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".activities.SplashScreen.SplashScreen" />
        <activity
            android:name=".database.Write_Database"
            android:label="Your medicine"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>